pre  {
	overflow: hidden;
	float: left;
}

code  { 
	display: block;
	font-size: 13px;
}

#eventLoopImg {
	padding: 10px;
	display: block;
	margin: auto;
}


#loopSnippet {
	display: inline-block;
	overflow: hidden;
	width: 250px;
	height: 15px;
}

#makeSmaller {
	font-size: 13px;
	padding: 3px;
}

.snippet {
	display: inline;
	overflow: hidden;
	font-size: 14px;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

pre#yieldSnippet {
	margin-left: 162px;
	overflow: hidden;
	width: 200px;
}
pre#yieldSnippet code {
	margin-left: -112px;
	display: block;
	font-size: 13px;
}
