body {
	font-family: 'PT Sans', sans-serif;
	background: #ECF0F1;
	-webkit-transition: background-color 3s;
	transition: background-color 1s;
	color: #2C3E50;
}

html {
	width: 100%;
	height: 800px;
}

#title {
	margin: auto;
	color: #2C3E50;
	vertical-align: middle;
	text-align: center;
}

#title span {
	font-size: 300%;
	font-family: inherit;
}


#title h1 {
	margin-top: -20px;
	font-size: 500%;
	font-family: inherit;
	font-weight: 100;
}

.step {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'PT Serif', georgia, serif;
}

.alterStep {
	color: white;
	background-color: #2C3E50;
	padding: 25px;
	border-radius: 6px;
}

.enlarge {
	width: 1400px;
	padding: 50px;
}



.step li {
	font-family: inherit;
	margin: auto;
	width: 630px;
	font-size: 20px;
}
.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

#releaseDate * {
	font-size: 45px;
	font-family: inherit;
	font-weight: 100;
    width: 400%;
}

#tableOfContents *, #howTo * {
	font-size: 30px;
	font-family: inherit;
	width: 400%;
	font-weight: 100;
    width: 400%;
}


#pressMe {
	color: white;
	background-color: #1ABC9C;
	border-radius: 6px;
}

#pressMe p {
	margin-top: 10px;
	font-weight: 500;
	font-family: Lato,Helvetica,Arial,sans-serif;
}

#generatorTitle, #classesTitle {
	color: #ECF0F1;
	font-family: inherit;
	font-size: 200;
}

.slideTitle {
	font-family: Lato,Helvetica,Arial,sans-serif;
	background-color: #1ABC9C;
	color: white;
	border-radius: 6px;
	width: 800px;
	padding: 6px;
	font-size: 25px;
	text-align: center;
	margin: auto;
}

.slideNumber {
	font-family: Lato,Helvetica,Arial,sans-serif;
	background-color: #E74C3C;
	color: white;
	border-radius: 6px;
	width: 118px;
	padding: 2px;
	font-size: 10px;
	text-align: center;
	font-weight: 800;
	margin: auto;
	margin-top: 3px;
}

.floatRight {
	float: right;
}

#caseSelect {
	margin-top: -90px;
}

#caseSelectSlide {
	width: 1100px;
	padding: 50px;
}

ol#granular li {
	font-size: 17px;
}

#caseSelect {
	margin-top: -80px;
}

#hereDoc {
	width: 170px;
	margin: auto;
}

